*{
  margin: 0;
  padding: 0; 
}
body, html{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body{
  margin-top: unset!important;
  padding-top: 61px;
}
.app-container{
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
// 断点隐藏类
@media screen and (max-width: 768px) {
  .app-hide-xs {
    display:none!important
  }

  .app-show-xs-block {
    display: block!important
  }

  .app-show-xs-inline {
    display: inline!important
  }

  .app-show-xs-inline-block {
    display: inline-block!important
  }
}
@media screen and (min-width: 768px) {
  .app-container {
    width:750px;
  }
  .app-hide-sm {
    display: none!important
  }

  .app-show-sm-block {
    display: block!important
  }

  .app-show-sm-inline {
    display: inline!important
  }

  .app-show-sm-inline-block {
    display: inline-block!important
  }
}
@media screen and (min-width: 992px){
  .app-container {
    width:970px;
  }
  .app-hide-md {
    display: none!important
  }

  .app-show-md-block {
    display: block!important
  }

  .app-show-md-inline {
    display: inline!important
  }

  .app-show-md-inline-block {
    display: inline-block!important
  }
}
@media screen and (min-width: 1200px) {
  .app-container {
    width:1170px;
  }
  .app-hide-lg {
    display: none!important
  }

  .app-show-lg-block {
    display: block!important
  }

  .app-show-lg-inline {
    display: inline!important
  }

  .app-show-lg-inline-block {
    display: inline-block!important
  }
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}
.box-panel{
  margin-bottom: 15px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.box-panel-title{
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  border-bottom: 1px dotted #e9e9e9;
  color: #333;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  margin-bottom: 0;
}
.line{
  display: inline-block;
  height: 10px;
  width: 1px;
  margin: 0 10px;
  vertical-align: middle;
  background-color: #e2e2e2;
}
.badge-orange{
  margin-left: 5px;
  border-radius: 2px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  padding: 0 6px;
  text-align: center;
  background-color: #FFB800;
  color: #fff;
}
.badge-red{
  margin-left: 5px;
  border-radius: 2px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  padding: 0 6px;
  text-align: center;
  background-color: #FF5722;
  color: #fff;
}
.badge-blue{
  margin-left: 5px;
  border-radius: 2px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  padding: 0 6px;
  text-align: center;
  background-color: #1E9FFF;
  color: #fff;
}
.active-text{
  color: #009688 !important;
}